.App {
  font-family: 'Roboto', sans-serif;
}

.content-block{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto 40px auto;
}

header.content-block{

  display: flex;
  flex-direction: row;
  margin-top: 30px;
  div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
  }
}
h1{
  text-shadow: 4px 4px yellow;
  margin: 10px;
  display: inline-block;
  font-size: 80px;

}
h1:hover{
  animation: slant 2s ease infinite;

}

@keyframes slant {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1)
  }
  100%{
    transform: scale(1)
  }
}

h3{
  margin: 10px;
  font-size: 32px;
  display: inline-block;
}

p{
  text-align: center;
}

.sliding-u-l-r {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    width: 0px;
    transition: 0.5s ease;
    white-space: nowrap;
}
.sliding-u-l-r:hover {
    border-bottom: 3px solid orange;
    width: 4em;
}



footer{
  height: 100px;
}
