.profile-part{
  font-weight: bold;
  height: 12em;
  display: inline-block;
  background-color: yellow;
  position: relative;
  transition: 0.4s ease;
  transform: scale(1.0);
  span{
    font-size: 20px;
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    transform-origin: left;
    left:20px;
    position: relative;
  }
}

.profile-part:hover{
  transition: 0.4s ease;
  transform: scale(1.03);
  z-index: 10;
}

@keyframes expandify {

}

.profile-part:nth-child(2){
  background-color: orange
}

.profile-part:nth-child(3){
    background-color: red;
}
.profile-part:nth-child(5) span{
  left: 50px;
}
