

.increment-wrapper{
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.increment-wrapper > div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title-wrap{
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
